* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    z-index: 10;
}

ul li {
    padding: 10px 40px;
}

ul li a {
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
    position: relative;
    transition: 0.5s;
}

ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff5f5f;
    transform-style: preserve-3d;
    transform: scale(0) rotateY(0deg) skew(10deg);
    transition: 1.5s cubic-bezier(0.43, 1.91, 0.35, 0.74);
    z-index: -1;
}

ul li:hover a {
    color: #fff;
}

ul li:hover a::before {
    transform: scale(1.2) rotateY(360deg) skew(10deg);
}

ul li a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) scale(0);
    transition: 1.5s cubic-bezier(0.43, 1.91, 0.35, 0.74);
    z-index: -2;
    border-radius: 100%;
    backdrop-filter: blur(6px);
}

ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1.2);
}

.holo-grid {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(111, 111, 111, 0.4) 0%, rgba(111, 111, 111, 0.2) 50%, transparent 100%),
        repeating-linear-gradient(to right, transparent 0, transparent 30px, rgba(111, 111, 111, 0.2) 31px),
        repeating-linear-gradient(to top, transparent 0, transparent 20px, rgba(111, 111, 111, 0.25) 21px);
    animation: holoMove 20s linear infinite;
    pointer-events: none;
    filter: blur(1px);
}

@keyframes holoMove {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }
    100% {
        background-position: 0 -100vh, -100vh 0, 0 -100vh;
    }
}
